<body style="margin:0;padding:0">
	<meta charset="utf-8">
	<style>
		@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic);

		a:active {
			opacity: 0.3
		}

		body {
			margin: 0;
			padding: 0
		}
	</style>
	<table bgcolor="#fff" width="100%" cellpadding="0" cellspacing="0" border="0"
		style="margin:0;padding:0;border:0 none;border-collapse:collapse;text-align:center;background:#fff;font-family:Open Sans, sans-serif;">
		<tbody>
			<tr height="40" style="height:40px">
				<td></td>
			</tr>
			<tr height="80" style="height:80px">
				<td>
					<table align="center" cellpadding="0" cellspacing="0" border="0"
						style="max-width:460px;min-width:300px;font-size:18px;color:#121212;text-align:center;font-family:Open Sans, sans-serif">
						<tbody style="font-size:18px;color:#121212;text-align:center;font-family:Open Sans, sans-serif;">
							<tr>
								<td><a
										style="display:inline-block;color:#121212;text-decoration:none;font-size:32px;font-weight:300;font-family:Open Sans, sans-serif"
										href="{{ companyURL }}" title="{{ formmalName }}">{{ formmalName }}</a></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr height="1" style="height:1px;background:#e6e6e6" bgcolor="#e6e6e6">
				<td></td>
			</tr>
			<tr height="30" style="height:30px">
				<td></td>
			</tr>
			<tr>
				<td>
					<table align="center" cellpadding="0" cellspacing="0" border="0"
						style="line-height:28px;max-width:460px;min-width:300px;font-size:16px;color:#555;overflow:hidden;font-weight:300;text-align:left;padding:0 30px;font-family:Open Sans, sans-serif;">
						<tbody style="font-family:Open Sans, sans-serif;">

							<tr>
								<td style="font-size:16px;font-family:Open Sans, sans-serif">
									Hello {{ to }},
								</td>
							</tr>
							<tr height="20" style="height:20px">
								<td></td>
							</tr>
							<tr>
								<td style="font-size:16px;font-family:Open Sans, sans-serif">
									{{ message }}
								</td>
							</tr>
							<tr height="40" style="height:40px">
								<td></td>
							</tr>
							<tr>
								<td height="48" style="font-size:16px;text-align:center;height:48px">
									<a href="{{ link }}" title="Login"
										style="color:#fff;text-decoration:none;background:#DD4814;border-radius:2px;padding:0 22px;display:inline-block;font-size:16px;font-weight:300;text-align:center;height:48px;line-height:46px;font-family:Open Sans, sans-serif">
										Login
									</a>
								</td>
							</tr>
							<tr height="40" style="height:40px">
								<td></td>
							</tr>
							<tr>
								<td style="font-size:16px;font-family:Open Sans, sans-serif">The {{ companyName }} team.</td>
							</tr>
							<tr height="50" style="height:50px">
								<td></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr height="1" style="height:1px;background:#e6e6e6" bgcolor="#e6e6e6">
				<td></td>
			</tr>
			<tr height="30" style="height:30px">
				<td></td>
			</tr>
			<tr>
				<td>
					<table align="center" cellpadding="0" cellspacing="0" border="0"
						style="max-width:460px;min-width:300px;font-size:16px;color:#555;overflow:hidden;font-family:Open Sans, sans-serif;">
						<tbody>
							<tr>
								<td width="30" style="width:30px"></td>
								<td
									style="line-height:28px;text-align:center;color:#555;font-size:13px;font-weight:300;font-family:Open Sans, sans-serif;">
									Questions? <a href="mailto:{{ supportEmail }}"
										style="color:#DD4814;text-decoration:none">{{ supportEmail }}</a>
								</td>
								<td width="30" style="width:30px"></td>
							</tr>
							<tr height="10" style="height:10px">
								<td></td>
							</tr>
							<tr>
								<td width="30" style="width:30px"></td>
								<td style="text-align:center">
									<table align="center" cellpadding="0" cellspacing="0" border="0">
										<tbody>
											<tr>
												{{!-- <td width="26" style="weight:26px"> <a href="http://twitter.com/pingandmeet" title="Twitter"
														style="border:0 none;width:26px;height:26px;text-decoration:none;color:#dd4814;display:block"><img
															width="26" src="https://www.expertcollective.org/content/images/icon-twitter@2x.png"></a>
												</td>
												<td width="8" style="weight:8px"></td>
												<td width="26" style="weight:26px"> <a href="http://facebook.com/pingandmeet" title="Facebook"
														style="border:0 none;width:26px;height:26px;text-decoration:none;color:#dd4814;display:block"><img
															width="26" src="https://www.expertcollective.org/content/images/icon-facebook@2x.png"></a>
												</td> --}}
												<td width="8" style="weight:8px"></td>
												<td width="26" style="weight:26px">
													<a href="http://linkedin.com/company/expertcollective" title="LinkedIn"
														style="border:0 none;width:26px;height:26px;text-decoration:none;color:#dd4814;display:block"><img
															width="26" src="{{ companyUrl }}/content/images/icon-linkedin@2x.png"></a>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td width="30" style="width:30px"></td>
							</tr>
							<tr height="30" style="height:30px">
								<td></td>
							</tr>
							<tr>
								<td width="30" style="width:30px"></td>
								<td style="text-align:center;font-size:11px;color:#999;font-family:Open Sans, sans-serif;">{{ formalName}}, {{ companyAddress.street }}, {{ companyAddress.city }} {{ companyAddress.state }} - {{ companyAddress.country }}</td>
								<td width="30" style="width:30px"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr height="50" style="height:50px"></tr>
		</tbody>
	</table>
</body>